<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">Tickets</div>
    <div class="panel-body">
      <span class="label label-info pull-right">{{data.ticket.status}}</span>
      <p>{{data.ticket.description}}</p>
      <ul class="ticket-meta">
        <li><small>Status</small><a href="" rel="tag">{{data.ticket.status}}</a></li>
        <li><small>Priority</small><a href="" rel="tag">{{data.ticket.priority}}</a></li>
        <li><small>Category</small><a href="" rel="tag">{{data.ticket.category}}</a></li>
        <li><small>Created At</small><a href="" rel="tag">{{data.ticket.createdAt}}</a></li>
      </ul>
    </div>

  </div>
</div>
